* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 840px;
    min-height: 100vh;
    margin: 20px auto;
    padding: 0 20px;
}

h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: monospace;

    a {
        text-decoration: none;
        color: gray;
    }
}

hr {
    margin: 5px 0;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    font-family: sans-serif;
}

p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
    a {
        text-decoration: none;
        color: gray;
    }
}

h4 {
    font-size: 18px;
    font-weight: 500;
    font-family: monospace;
}

.about {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    p {
        text-align: left;
        font-size: 16px;
        font-weight: 400;
        font-family: monospace;
    }
}

.schedule {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    table {
        border-collapse: collapse;
        border: 1px solid black;
        thead {
            tr {
                th {
                    border: 1px solid black;
                    padding: 5px 10px;
                    text-align: left;
                    font-size: 16px;
                    font-weight: 600;
                    font-family: monospace;
                }
            }
        }
        tbody {
            tr {
                td {
                    border: 1px solid black;
                    padding: 5px 10px;
                    text-align: left;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: monospace;
                }
            }
        }
    }
}

.movies {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    div {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 20px;
        div {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            img {
                width: 250px;
                border: 1px solid gray;
            }
            div {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                gap: 5px;
                h5 {
                    text-align: left;
                    font-size: 16px;
                    font-weight: 600;
                    font-family: sans-serif;
                    text-decoration: none;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
                p {
                    text-align: left;
                    font-size: 14px;
                    font-weight: 400;
                    font-family: monospace;
                }
            }
        }
    }
}

.mood {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    div {
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 20px;
        div {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 10px;
            p {
                text-align: left;
                font-size: 16px;
                font-weight: 400;
                font-family: monospace;
            }
            img {
                width: 150px;
                height: 150px;
                border: 1px solid gray;
            }
        }
    }
}

.facts {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    h4 {
        span {
            font-weight: 800;
        }
    }
    ol {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 10px;
        padding-left: 50px;
        li {
            text-align: left;
            font-size: 16px;
            font-weight: 400;
            font-family: monospace;
            span {
                font-style: italic;
                color: brown;
            }
        }
    }
}
